:root{
    --color-normal-green: rgb(10, 143, 10);
    --color-normal-red: rgb(163, 11, 11);
    --color-normal-yellow: rgb(172, 172, 13);
    --color-normal-blue: rgb(12, 12, 165);
    /*cores das luzes*/
    --color-ligth-green: rgb(105, 255, 5);
    --color-ligth-red: rgb(245, 81, 76);
    --color-ligth-yellow: rgb(248, 252, 4);
    --color-ligth-blue: rgb(4, 103, 252);
}


body{
    background-image: url(../img/backgroudGame1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.gameContainer{
    margin-top: 5%;
    width: 75%;
    min-width: 623px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    
}

/*PAINEL CENTRAL*/
.centerPainel{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    justify-content: center;

    
}

.gamePainel{
    width: 280px;
    height: 280px;
    border-radius: 100%;
    background-color: white;
    border: 10px solid black;
    margin-bottom: 11%;
    border-radius: 100%;
    position: absolute;
    background-color: rgb(34, 31, 31);
    border: 10px solid #1C1C1C;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
}

.gameLogo{
    text-align: center;
    font-family:fantasy;
    margin-bottom: 10%;
    color: beige;
    
}

/*PAINEL BUTTONS*/

.btnStart{
    width: 70px;
    height: 30px;
    margin-left: 24px;
    background-color: rgb(3, 3, 141);
    color: wheat;
    border-radius: 15px;
    border-color: none;
    font-weight: 300;
    font-family: fantasy;
    cursor: pointer;
    

}

.btnStart--active{
    background-color: rgb(53, 53, 255);
    width: 70px;
    height: 30px;
    margin-left: 24px;
    color: white;
    border-radius: 15px;
    border-color: none;
    font-weight: 300;
    font-family: fantasy;
    cursor: pointer;
}

.btnRetry{
    width: 100px;
    height: 30px;
    margin: 10px;
    border-color: none;
    margin-left: 60px;
    background-color: red;
    color: wheat;
    border-radius: 15px;
    font-weight: 300;
    font-family: fantasy;
    cursor: pointer;
 
 

}

.inputScore{
    display: flex;
    justify-content: center;
    margin: 36px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 5px;
    background-color: rgb(92, 6, 6);
    color: rgb(252, 88, 88)
}
.onGame{
    background-color: rgb(252, 83, 83);
}
.scoreText{
    background-color: rgb(92, 6, 6);
    color: rgb(243, 105, 105);
    width: 30px;
    height: 30px;
    margin: 0 0 0 160px ;
    border-radius: 5px;
   
    
}
/*BUTTONS*/

.gameButtonGreen{
    background-color: var(--color-normal-green);
    width: 300px;
    height: 300px;
    border-top-left-radius: 300px;
    border: 5px solid #1C1C1C;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
   cursor: pointer;
}
.gameButtonRed{
    background-color: var(--color-normal-red);
    width: 300px;
    height: 300px;
    border-top-right-radius: 300px;
    border: 5px solid #1C1C1C;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;
}
.gameButtonYellow{
    background-color: var(--color-normal-yellow);
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 300px;
    border: 5px solid #1C1C1C;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;
}
.gameButtonBlue{
    background-color: var(--color-normal-blue);
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 300px;
    border: 5px solid #1C1C1C;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;

}

/*LIGTH BUTTONS*/

.gameButtonLigth--Green{
    background-color: var(--color-ligth-green);

}
.gameButtonLigth--Red{
    background-color: var(--color-ligth-red);

}
.gameButtonLigth--Yellow{
    background-color: var(--color-ligth-yellow);

}
.gameButtonLigth--Blue{
    background-color: var(--color-ligth-blue);

}